<footer class="footer">
  <p>Attribution-NonCommercial-NoDerivs 2.5.</p>
  <p>(C) 2020 FreightTrust and Clearing Corporation. The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
