<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://freighttrust.com">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://freight.page.link/demo">EDI/B2B Messaging</a>
            <a class="navbar-item" href="https://freight.page.link/demo">Trade and Compliance</a>
            <a class="navbar-item" href="https://freight.page.link/demo">Trade Finance</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">FAQ</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Wallet</a>
            <a class="navbar-item" href="#">EDI Messages</a>
            <a class="navbar-item" href="#">EDI Token</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/freight-chain">GitHub</a>
            <a class="navbar-item" href="https://gitlab.com/freight-trust">GitLab</a>
            <a class="navbar-item" href="https://docker.com/freightcorp">Docker</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/freight-chain/network">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
